*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.container {
    /* width: 90%; */
    margin: 100px auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: center;
}

.row-display h4{
    text-transform: uppercase;
    padding-bottom: 10px;
}

.column-display {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: baseline;
}

.column-display h4{
    text-transform: uppercase;
}
